
.cardCuota{
    display: inline-block;
    background-color: #fff;
    width: 20%;
    margin: 20px 10px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardCuota__numero{
    font-size: 45px;
    font-weight: bold;
    color: #0C46A1;
    text-align: center;
}

.cardCuota__contenedorMontos{
    text-align: center;
     margin-top: 10px;
}

.cardCuota__precioFinal{
    font-size: 16px;
     font-weight: bold;
      color: #757575;
       margin: 0;
}

.cardCuota__precioCuotas{
    font-size: 15px;
    color: #757575;
    margin: 0;
}