* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-image: url(../assets/background.svg);
}

.contenedor-logo{
   width: 100%;
   height: 250px;
}

.logo{
    width: 100%;
}

.tarjeta{
    text-align: center;
    padding-top: 15px;
    width: 90%;
    height: auto;
    min-height: 300px;
    padding-bottom: 10px;
    margin: -5px auto;
    margin-bottom: 40px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#monto{
    width: 75%;
    text-align: center;
    margin: 10px auto;
}


.cardCuotas{
    width: 90%;
    height: 80px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.pill{
    font-size: 16px;
}


.cardCuota-Final, .cardCuota-cuota{
display: flex;
flex-direction: column;

}


@media  (min-width : 600px) {
    .logo{
        height: 200px;
    }

    #monto{
        width: 40%;
        background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .tarjeta{
        width: 75%;
        height: auto;
        padding-bottom: 10px;
    }

}